In [1]:
from pathlib import Path
import pandas as pd
import json
pd.options.display.float_format = '{:,.2f}'.format

Results for tables

In [2]:
base_dir = Path(".")

for dir_ in base_dir.iterdir():
    print(dir_)

exp_by_year_transformer
exp_by_name_tok2vec
exp_by_name_transformer
read_results.ipynb
exp_by_year_tok2vec
.ipynb_checkpoints

In [3]:
exp_dir =  base_dir / "exp_by_year_tok2vec" / "nlp_project"
print(f"{exp_dir}")

assets_dir = exp_dir / "assets"
training_dir = exp_dir / "training"

train_names_metrics_agg_csv = training_dir / "train_names_metrics_agg.csv"
train_names_metrics_csv = training_dir / "train_names_metrics.csv"
test_names_metrics_agg_csv = training_dir / "test_names_metrics_agg.csv"
test_names_metrics_csv = training_dir / "test_names_metrics.csv"
metrics_json = training_dir / "metrics.json"

# for dir_ in training_dir.iterdir():
#     print(dir_)
print(f"{metrics_json}")
with open(metrics_json, "r") as f:
  data = json.load(f)

print(json.dumps(data, indent=2))
print(json.dumps(data["ents_per_type"]["group_name"], indent=2))

display(pd.read_csv(test_names_metrics_agg_csv)[['tp', 'fp', 'fn', 'precision', 'recall', 'f1', 'acc']])
display(pd.read_csv(test_names_metrics_csv).sort_values("tp", ascending=False).head(10))
display(pd.read_csv(test_names_metrics_csv).sort_values("fp", ascending=False).head(10))
display(pd.read_csv(test_names_metrics_csv).sort_values("fn", ascending=False).head(10))

exp_by_year_tok2vec/nlp_project
exp_by_year_tok2vec/nlp_project/training/metrics.json
{
  "token_acc": 1.0,
  "ents_p": 0.9401819923,
  "ents_r": 0.8428939459,
  "ents_f": 0.8888838578,
  "speed": 23964.7250693126,
  "ents_per_type": {
    "technique_name": {
      "p": 0.9797108209,
      "r": 0.697377158,
      "f": 0.8147788984
    },
    "tactic": {
      "p": 0.9105661073,
      "r": 0.9712824548,
      "f": 0.9399447987
    },
    "software_name": {
      "p": 0.9287282306,
      "r": 0.908778462,
      "f": 0.9186450492
    },
    "group_name": {
      "p": 0.9561808118,
      "r": 0.7974610502,
      "f": 0.8696381751
    }
  }
}
{
  "p": 0.9561808118,
  "r": 0.7974610502,
  "f": 0.8696381751
}

        tp     fp       fn  precision  recall   f1  acc
0 4,147.00 189.00 1,038.00       0.96    0.80 0.87 0.80

        Unnamed: 0     tp   fp    fn  recall  precision   f1  acc
42           turla 704.00 0.00  4.00    0.99       1.00 1.00 0.99
54           apt10 471.00 0.00  0.00    1.00       1.00 1.00 1.00
127  lazarus group 230.00 0.00  0.00    1.00       1.00 1.00 1.00
120          apt28 227.00 0.00  0.00    1.00       1.00 1.00 1.00
27    winnti group 182.00 0.00 21.00    0.90       1.00 0.95 0.90
118         sofacy 164.00 0.00  5.00    0.97       1.00 0.98 0.97
146       equation 162.00 0.00  6.00    0.96       1.00 0.98 0.96
98            apt3 140.00 0.00  1.00    0.99       1.00 1.00 0.99
7        patchwork 138.00 0.00  4.00    0.97       1.00 0.99 0.97
155         oilrig 132.00 0.00 16.00    0.89       1.00 0.94 0.89

                Unnamed: 0   tp    fp   fn  recall  precision   f1  acc
135                  apt41 0.00 26.00 0.00    0.00       0.00 0.00 0.00
111         lazarus group使 0.00 22.00 0.00    0.00       0.00 0.00 0.00
2          lazarus targets 0.00 19.00 0.00    0.00       0.00 0.00 0.00
162            winnti helo 0.00 18.00 0.00    0.00       0.00 0.00 0.00
103  credential harvesting 0.00  7.00 0.00    0.00       0.00 0.00 0.00
99            berserk bear 0.00  7.00 0.00    0.00       0.00 0.00 0.00
6            cobalt strike 0.00  7.00 0.00    0.00       0.00 0.00 0.00
26      credential dumping 0.00  6.00 0.00    0.00       0.00 0.00 0.00
10                   jpm84 0.00  4.00 0.00    0.00       0.00 0.00 0.00
35             lotus panda 0.00  3.00 0.00    0.00       0.00 0.00 0.00

           Unnamed: 0     tp   fp     fn  recall  precision   f1  acc
156              fin7   0.00 0.00 205.00    0.00       0.00 0.00 0.00
163   gamaredon group   7.00 0.00 129.00    0.05       1.00 0.10 0.05
114             apt32   0.00 0.00 119.00    0.00       0.00 0.00 0.00
11       hidden cobra   0.00 0.00  74.00    0.00       0.00 0.00 0.00
45       bronze union   0.00 0.00  50.00    0.00       0.00 0.00 0.00
132          carbanak 101.00 0.00  50.00    0.67       1.00 0.80 0.67
30     emissary panda   6.00 0.00  50.00    0.11       1.00 0.19 0.11
57               fin6   0.00 0.00  44.00    0.00       0.00 0.00 0.00
147           taidoor  83.00 0.00  33.00    0.72       1.00 0.83 0.72
43   oceanlotus group   0.00 0.00  28.00    0.00       0.00 0.00 0.00

In [4]:
exp_dir =  base_dir / "exp_by_year_transformer" / "nlp_project"

print(f"{exp_dir}")

assets_dir = exp_dir / "assets"
training_dir = exp_dir / "training"

train_names_metrics_agg_csv = training_dir / "train_names_metrics_agg.csv"
train_names_metrics_csv = training_dir / "train_names_metrics.csv"
test_names_metrics_agg_csv = training_dir / "test_names_metrics_agg.csv"
test_names_metrics_csv = training_dir / "test_names_metrics.csv"
metrics_json = training_dir / "metrics.json"

# for dir_ in training_dir.iterdir():
#     print(dir_)
print(f"{metrics_json}")
with open(metrics_json, "r") as f:
  data = json.load(f)

print(json.dumps(data, indent=2))
print(json.dumps(data["ents_per_type"]["group_name"], indent=2))

display(pd.read_csv(test_names_metrics_agg_csv)[['tp', 'fp', 'fn', 'precision', 'recall', 'f1', 'acc']])
display(pd.read_csv(test_names_metrics_csv).sort_values("tp", ascending=False).head(10))
display(pd.read_csv(test_names_metrics_csv).sort_values("fp", ascending=False).head(10))
display(pd.read_csv(test_names_metrics_csv).sort_values("fn", ascending=False).head(10))

exp_by_year_transformer/nlp_project
exp_by_year_transformer/nlp_project/training/metrics.json
{
  "token_acc": 1.0,
  "ents_p": 0.1714579426,
  "ents_r": 0.8164018892,
  "ents_f": 0.2833976719,
  "speed": 319.8491704042,
  "ents_per_type": {
    "software_name": {
      "p": 0.0647209185,
      "r": 0.8847200344,
      "f": 0.120618124
    },
    "technique_name": {
      "p": 0.9324874312,
      "r": 0.6465803453,
      "f": 0.7636506225
    },
    "tactic": {
      "p": 0.9177392278,
      "r": 0.9677419355,
      "f": 0.9420775491
    },
    "group_name": {
      "p": 0.6812944764,
      "r": 0.773417965,
      "f": 0.7244392397
    }
  }
}
{
  "p": 0.6812944764,
  "r": 0.773417965,
  "f": 0.7244392397
}

        tp       fp       fn  precision  recall   f1  acc
0 4,022.00 1,880.00 1,159.00       0.68    0.78 0.73 0.78

        Unnamed: 0     tp   fp    fn  recall  precision   f1  acc
50           turla 703.00 0.00  5.00    0.99       1.00 1.00 0.99
280          apt10 471.00 0.00  0.00    1.00       1.00 1.00 1.00
195  lazarus group 228.00 0.00  2.00    0.99       1.00 1.00 0.99
134          apt28 227.00 0.00  0.00    1.00       1.00 1.00 1.00
126         sofacy 164.00 0.00  5.00    0.97       1.00 0.98 0.97
144       equation 153.00 0.00 15.00    0.91       1.00 0.95 0.91
159           apt3 140.00 0.00  1.00    0.99       1.00 1.00 0.99
214      patchwork 127.00 0.00 15.00    0.89       1.00 0.94 0.89
133      the dukes 125.00 0.00  0.00    1.00       1.00 1.00 1.00
78           apt32 119.00 0.00  1.00    0.99       1.00 1.00 0.99

    Unnamed: 0   tp     fp   fn  recall  precision   f1  acc
51       apt41 0.00 428.00 0.00    0.00       0.00 0.00 0.00
119      apt33 0.00 237.00 0.00    0.00       0.00 0.00 0.00
56       apt38 0.00 229.00 0.00    0.00       0.00 0.00 0.00
316      apt34 0.00 118.00 0.00    0.00       0.00 0.00 0.00
295      apt37 0.00 110.00 0.00    0.00       0.00 0.00 0.00
104      apt15 0.00  55.00 0.00    0.00       0.00 0.00 0.00
79       apt27 0.00  48.00 0.00    0.00       0.00 0.00 0.00
172      apt40 0.00  48.00 0.00    0.00       0.00 0.00 0.00
61       apt36 0.00  37.00 0.00    0.00       0.00 0.00 0.00
262     group1 0.00  26.00 0.00    0.00       0.00 0.00 0.00

           Unnamed: 0     tp   fp     fn  recall  precision   f1  acc
205              fin7   0.00 0.00 205.00    0.00       0.00 0.00 0.00
258            oilrig   0.00 0.00 144.00    0.00       0.00 0.00 0.00
35    gamaredon group   0.00 0.00 136.00    0.00       0.00 0.00 0.00
269      winnti group  97.00 0.00 106.00    0.48       1.00 0.65 0.48
145      hidden cobra   0.00 0.00  74.00    0.00       0.00 0.00 0.00
46       bronze union   0.00 0.00  50.00    0.00       0.00 0.00 0.00
101          carbanak 105.00 0.00  46.00    0.70       1.00 0.82 0.70
263              fin6   0.00 0.00  44.00    0.00       0.00 0.00 0.00
47            taidoor  83.00 0.00  33.00    0.72       1.00 0.83 0.72
162  oceanlotus group   0.00 0.00  28.00    0.00       0.00 0.00 0.00

In [5]:
exp_dir =  base_dir / "exp_by_name_tok2vec" / "nlp_project"
print(f"{exp_dir}")

assets_dir = exp_dir / "assets"
training_dir = exp_dir / "training"

train_names_metrics_agg_csv = training_dir / "train_names_metrics_agg.csv"
train_names_metrics_csv = training_dir / "train_names_metrics.csv"
test_names_metrics_agg_csv = training_dir / "test_names_metrics_agg.csv"
test_names_metrics_csv = training_dir / "test_names_metrics.csv"
metrics_json = training_dir / "metrics.json"

# for dir_ in training_dir.iterdir():
#     print(dir_)
print(f"{metrics_json}")
with open(metrics_json, "r") as f:
  data = json.load(f)

print(json.dumps(data, indent=2))
print(json.dumps(data["ents_per_type"]["group_name"], indent=2))

display(pd.read_csv(test_names_metrics_agg_csv)[['tp', 'fp', 'fn', 'precision', 'recall', 'f1', 'acc']])
display(pd.read_csv(test_names_metrics_csv).sort_values("tp", ascending=False).head(10))
display(pd.read_csv(test_names_metrics_csv).sort_values("fp", ascending=False).head(10))
display(pd.read_csv(test_names_metrics_csv).sort_values("fn", ascending=False).head(10))

exp_by_name_tok2vec/nlp_project
exp_by_name_tok2vec/nlp_project/training/metrics.json
{
  "token_acc": 1.0,
  "ents_p": 0.8869979578,
  "ents_r": 0.5458734814,
  "ents_f": 0.6758298755,
  "speed": 24656.5402138961,
  "ents_per_type": {
    "group_name": {
      "p": 0.8876021798,
      "r": 0.5861448493,
      "f": 0.7060417231
    },
    "software_name": {
      "p": 0.0,
      "r": 0.0,
      "f": 0.0
    },
    "technique_name": {
      "p": 0.0,
      "r": 0.0,
      "f": 0.0
    },
    "tactic": {
      "p": 0.0,
      "r": 0.0,
      "f": 0.0
    }
  }
}
{
  "p": 0.8876021798,
  "r": 0.5861448493,
  "f": 0.7060417231
}

        tp     fp     fn  precision  recall   f1  acc
0 1,303.00 165.00 910.00       0.89    0.59 0.71 0.59

        Unnamed: 0     tp   fp     fn  recall  precision   f1  acc
94           apt28 402.00 0.00  38.00    0.91       1.00 0.95 0.91
67           apt30 204.00 0.00   9.00    0.96       1.00 0.98 0.96
35   lazarus group 192.00 0.00 271.00    0.41       1.00 0.59 0.41
13      pawn storm 181.00 0.00   0.00    1.00       1.00 1.00 1.00
75           apt29 110.00 0.00  18.00    0.86       1.00 0.92 0.86
82    comment crew  55.00 0.00   4.00    0.93       1.00 0.96 0.93
40           apt12  48.00 0.00   6.00    0.89       1.00 0.94 0.89
15  gaza cybergang  44.00 0.00  19.00    0.70       1.00 0.82 0.70
2        patchwork  34.00 0.00 112.00    0.23       1.00 0.38 0.23
52    bronze union  21.00 0.00  22.00    0.49       1.00 0.66 0.49

        Unnamed: 0   tp    fp   fn  recall  precision   f1  acc
104         group1 0.00 23.00 0.00    0.00       0.00 0.00 0.00
62            gaza 0.00 14.00 0.00    0.00       0.00 0.00 0.00
24       the storm 0.00 13.00 0.00    0.00       0.00 0.00 0.00
103    blackenergy 0.00  6.00 0.00    0.00       0.00 0.00 0.00
18   apt28 targets 0.00  6.00 0.00    0.00       0.00 0.00 0.00
1     sofacy group 0.00  4.00 0.00    0.00       0.00 0.00 0.00
47          xagent 0.00  3.00 0.00    0.00       0.00 0.00 0.00
41           apt20 0.00  3.00 0.00    0.00       0.00 0.00 0.00
68         dnscalc 0.00  3.00 0.00    0.00       0.00 0.00 0.00
36       coreshell 0.00  3.00 0.00    0.00       0.00 0.00 0.00

        Unnamed: 0     tp   fp     fn  recall  precision   f1  acc
3           sofacy   0.00 0.00 301.00    0.00       0.00 0.00 0.00
35   lazarus group 192.00 0.00 271.00    0.41       1.00 0.59 0.41
2        patchwork  34.00 0.00 112.00    0.23       1.00 0.38 0.23
94           apt28 402.00 0.00  38.00    0.91       1.00 0.95 0.91
65          anunak   0.00 0.00  29.00    0.00       0.00 0.00 0.00
30         suckfly   0.00 0.00  23.00    0.00       0.00 0.00 0.00
52    bronze union  21.00 0.00  22.00    0.49       1.00 0.66 0.49
76  stealth falcon   0.00 0.00  21.00    0.00       0.00 0.00 0.00
26        group 72   0.00 0.00  19.00    0.00       0.00 0.00 0.00
15  gaza cybergang  44.00 0.00  19.00    0.70       1.00 0.82 0.70

In [6]:
exp_dir =  base_dir / "exp_by_name_transformer" / "nlp_project"
print(f"{exp_dir}")

assets_dir = exp_dir / "assets"
training_dir = exp_dir / "training"

train_names_metrics_agg_csv = training_dir / "train_names_metrics_agg.csv"
train_names_metrics_csv = training_dir / "train_names_metrics.csv"
test_names_metrics_agg_csv = training_dir / "test_names_metrics_agg.csv"
test_names_metrics_csv = training_dir / "test_names_metrics.csv"
metrics_json = training_dir / "metrics.json"

# for dir_ in training_dir.iterdir():
#     print(dir_)
print(f"{metrics_json}")
with open(metrics_json, "r") as f:
  data = json.load(f)

print(json.dumps(data, indent=2))
print(json.dumps(data["ents_per_type"]["group_name"], indent=2))

display(pd.read_csv(test_names_metrics_agg_csv)[['tp', 'fp', 'fn', 'precision', 'recall', 'f1', 'acc']])
display(pd.read_csv(test_names_metrics_csv).sort_values("tp", ascending=False).head(10))
display(pd.read_csv(test_names_metrics_csv).sort_values("fp", ascending=False).head(10))
display(pd.read_csv(test_names_metrics_csv).sort_values("fn", ascending=False).head(10))

exp_by_name_transformer/nlp_project
exp_by_name_transformer/nlp_project/training/metrics.json
{
  "token_acc": 1.0,
  "ents_p": 0.7547743056,
  "ents_r": 0.728529535,
  "ents_f": 0.7414197399,
  "speed": 4952.4666419494,
  "ents_per_type": {
    "group_name": {
      "p": 0.7550306212,
      "r": 0.7764282501,
      "f": 0.7655799512
    },
    "software_name": {
      "p": 0.5833333333,
      "r": 0.0666666667,
      "f": 0.1196581197
    },
    "technique_name": {
      "p": 0.0,
      "r": 0.0,
      "f": 0.0
    },
    "tactic": {
      "p": 1.0,
      "r": 0.1621621622,
      "f": 0.2790697674
    }
  }
}
{
  "p": 0.7550306212,
  "r": 0.7764282501,
  "f": 0.7655799512
}

        tp     fp     fn  precision  recall   f1  acc
0 1,726.00 560.00 493.00       0.76    0.78 0.77 0.78

        Unnamed: 0     tp   fp     fn  recall  precision   f1  acc
111  lazarus group 431.00 0.00  33.00    0.93       1.00 0.96 0.93
112          apt28 422.00 0.00  20.00    0.95       1.00 0.98 0.95
114          apt30 214.00 0.00   0.00    1.00       1.00 1.00 1.00
82      pawn storm 168.00 0.00  13.00    0.93       1.00 0.96 0.93
85           apt29 117.00 0.00  11.00    0.91       1.00 0.96 0.91
122         sofacy  80.00 0.00 221.00    0.27       1.00 0.42 0.27
43    comment crew  59.00 0.00   0.00    1.00       1.00 1.00 1.00
102          apt12  55.00 0.00   0.00    1.00       1.00 1.00 1.00
52    bronze union  43.00 0.00   0.00    1.00       1.00 1.00 1.00
109      patchwork  36.00 0.00 110.00    0.25       1.00 0.40 0.25

           Unnamed: 0   tp    fp   fn  recall  precision   f1  acc
36                  “ 0.00 87.00 0.00    0.00       0.00 0.00 0.00
107                 ” 0.00 87.00 0.00    0.00       0.00 0.00 0.00
127                 ’ 0.00 31.00 0.00    0.00       0.00 0.00 0.00
15                  • 0.00 29.00 0.00    0.00       0.00 0.00 0.00
67       sofacy group 0.00 24.00 0.00    0.00       0.00 0.00 0.00
2                   – 0.00 23.00 0.00    0.00       0.00 0.00 0.00
45   cybergang group1 0.00 22.00 0.00    0.00       0.00 0.00 0.00
60          cybergang 0.00 18.00 0.00    0.00       0.00 0.00 0.00
131                 ‘ 0.00 18.00 0.00    0.00       0.00 0.00 0.00
106         apt group 0.00 17.00 0.00    0.00       0.00 0.00 0.00

         Unnamed: 0     tp   fp     fn  recall  precision   f1  acc
122          sofacy  80.00 0.00 221.00    0.27       1.00 0.42 0.27
109       patchwork  36.00 0.00 110.00    0.25       1.00 0.40 0.25
121  gaza cybergang   0.00 0.00  63.00    0.00       0.00 0.00 0.00
111   lazarus group 431.00 0.00  33.00    0.93       1.00 0.96 0.93
112           apt28 422.00 0.00  20.00    0.95       1.00 0.98 0.95
82       pawn storm 168.00 0.00  13.00    0.93       1.00 0.96 0.93
18         group 72   7.00 0.00  12.00    0.37       1.00 0.54 0.37
85            apt29 117.00 0.00  11.00    0.91       1.00 0.96 0.91
63           anunak  22.00 0.00   8.00    0.73       1.00 0.85 0.73
51          suckfly  22.00 0.00   1.00    0.96       1.00 0.98 0.96